* {
  font-family: 'Lato';
  font-style: normal;
}

body {
  padding: 25px 100px;
}

#title {
  margin-top: 6px;
  font-size: 44px;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D04F4F;
}

img {
  display: block;
  margin: 0px auto;
}

#barreDeRecherche {
  width: 100%;
  background: #E7E7E7;
  margin-bottom: 15px;
}

.inputRecherche {
  border-radius: 5px;
  border: none;
  height: 55px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.inputRecherche:focus + .picto-anime {
  font-size: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.inputRecherche__filter {
  text-align: left;
  padding-left: 10px;
  width: 100%;
}

.inputRecherche__filter__ingredients {
  background: #3282F7;
}

.inputRecherche__filter__appareils {
  background: #68D9A4;
}

.inputRecherche__filter__outils {
  background: #ED6454;
}

.inputRecherche::-webkit-input-placeholder {
  padding-left: 10px;
}

.inputRecherche:-ms-input-placeholder {
  padding-left: 10px;
}

.inputRecherche::-ms-input-placeholder {
  padding-left: 10px;
}

.inputRecherche::placeholder {
  padding-left: 10px;
}

.inputRecherche__filter::-webkit-input-placeholder, ul {
  color: #fff;
  opacity: 1;
}

.inputRecherche__filter:-ms-input-placeholder, ul {
  color: #fff;
  opacity: 1;
}

.inputRecherche__filter::-ms-input-placeholder, ul {
  color: #fff;
  opacity: 1;
}

.inputRecherche__filter::placeholder, ul {
  color: #fff;
  opacity: 1;
}

.all_recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all_recipes__articles {
  width: 30%;
  background-color: #E7E7E7;
  margin-bottom: 50px;
  height: 364px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

@media all and (max-width: 992px) {
  .all_recipes__articles {
    width: 46%;
  }
}

@media all and (max-width: 770px) {
  .all_recipes__articles {
    width: 100%;
  }
}

.all_recipes__articles__images {
  width: 100%;
  height: 178px;
  background-color: #C7BEBE;
}

.all_recipes__articles__nomRecette {
  position: absolute;
  left: 5.26%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 62%;
}

.all_recipes__articles__picto {
  position: absolute;
  top: 54%;
  right: 22%;
  bottom: 26.67%;
}

.all_recipes__articles__dures {
  position: absolute;
  right: 5.26%;
  top: 48%;
  bottom: 26.67%;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.all_recipes__articles__ingredients {
  position: absolute;
  left: 5.26%;
  right: 49.74%;
  top: 62%;
  bottom: -16.33%;
  margin: 0px;
  height: 30%;
  font-weight: 400;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all_recipes__articles__ingredients__nameIngredient {
  font-weight: 700;
}

.all_recipes__articles__descritpion {
  position: absolute;
  left: 55.26%;
  right: 4.74%;
  top: 63%;
  bottom: -16.33%;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  height: 29%;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.allFilter {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allFilter__box {
  margin-right: 15px;
  position: relative;
}

.picto-anime {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
}

.dropdownIngredients {
  background: #3282F7;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
  border-radius: 0 0 5px 5px;
  width: 667px;
  height: 397px;
}

.dropdownAppareils {
  background: #68D9A4;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
  border-radius: 0 0 5px 5px;
  width: 300px;
  height: 230px;
}

.dropdownUstensiles {
  background: #ED6454;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
  border-radius: 0 0 5px 5px;
  width: 667px;
  height: 300px;
}

.allFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0px;
}

.ingredientListe {
  margin-bottom: 10px;
  margin-right: 15px;
  width: 33%;
}

.allTag {
  margin-bottom: 15px;
  margin-top: 15px;
}

.tag {
  border-radius: 5px;
  height: 37px;
  border: none;
  font-family: 'Lato';
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
  text-align: left;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
}

.fa-chevron-down {
  position: absolute;
  color: #fff;
  top: 22px;
  right: 5px;
}

.fa-times-circle-o {
  margin-left: 10px;
}

.erreur-search {
  color: #D04F4F;
  margin-top: 5px;
  font-style: italic;
}

.errorIngredient {
  padding-left: 15px;
  margin: 0px;
  color: #fff;
  background-color: #3282F7;
}

.errorAppareil {
  padding-left: 15px;
  margin: 0px;
  color: #fff;
  background-color: #68D9A4;
}

.errorUstensile {
  padding-left: 15px;
  margin: 0px;
  color: #fff;
  background-color: #ED6454;
}
/*# sourceMappingURL=main.css.map */